<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<div th:if="${param.error}">Invalid email/password</div>
<body>
<form th:action="@{/login}" method="post">
    Email: <input type="email" name="username"><br>
    Password: <input type="password" name="password"><br>
    Remember me:  <input type="checkbox" name="remember-me"><br>
    <button type="submit">s</button>
</form>
<a th:href="@{/forgot_password}">Forgot your password?</a>
<a th:href="@{/customer/register}">Register</a>
</body>
</body>
</html>