<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1, minimum-scale=1.0">
    <title>Gaming4All | All PC games</title>
</head>
<body>
<div class="container-fluid">
    <div>
        <form th:action="@{/logout}" method="post" th:hidden="true" name="LogoutForm">
            <input type="submit" />
        </form>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/SmallLogo.png}" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Platforms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/videogames/}">All video games</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('USER')">
                        <a class="nav-link" th:href="@{/customer/games}">Purchased games</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/customers/}">Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin/games/}">Games</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('USER')">
                        <a class="nav-link" id="logoutLink" href="" >Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="text-center" th:if="${videogame.quantity == 0}">
    <h1>You can't buy this game, the game is unavaliable</h1>
</div>
<form th:action="@{/videogames/buy}" method="post" style="max-width: 700px; margin: 0 auto" th:if="${videogame.quantity != 0}">
    <input th:field="${videogame.id}" name="id" hidden>
    <div class="border border-secondary rounded p-3">
    <label class="col-sm-4 col-form-Label">Game name</label>
                <p>[[${videogame.gameName}]]</p>

            <label class="col-sm-4 col-form-Label">Game price</label>
                <p>[[${videogame.price}]]</p>

        <label class="col-sm-4 col-form-Label">Your balance: [[${#authentication.getPrincipal().getCustomer().getBalance()}]]</label>

    <p th:if="${videogame.isDigitallyAvaliable == true}">
        <div class="form-check form-switch">
        <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" name="digital"/>Choose this option if you want a digital copy of the game
    </div>
    </p>
    <button type="submit" class="btn btn-dark">Pay Via PayPal</button>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        $("#logoutLink").on("click", function(e){
            e.preventDefault();
            document.LogoutForm.submit();
        });
    });
</script>
</body>
</html>