<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All customers page</title>
</head>
<body>
<div th:each="customer : ${allCustomers}">
    <span th:text="${customer.firstName}">Customer firstName </span>
    <span th:text="${customer.lastName}">Customer lastName </span>
    <span th:text="${customer.email}">Customer email </span>
    <span th:text="${customer.password}">Customer password</span>
    <span th:text="${customer.countryName}">Customer country name</span>
    <span th:text="${customer.cityName}">Customer cityName</span>
    <span th:text="${customer.zipCode}">Customer zipCode</span>
    <span th:text="${customer.registrationDate}">Customer registrationDate</span>
    <th:block th:each="videogame : ${customer.videogameList}">
        <span th:text="${videogame.gameName}" style="color:red;">Customer videogames list</span>
    </th:block>
</div>
</body>
</html>